main {
    overflow: hidden;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

section {
    width: 74rem;
    height: 100vh;
    /* padding-top: 10rem; */
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
}

section .container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
}

h1 {
    font-size: 38pt;
    line-height: 1;
}

h1 span {
    width: 100%;
    height: 50px;
    background: #0369a1;
    color: white;
    line-height: 1;
}

.image-container {
    width: 30rem;
    height: 30rem;
    background: #006297;
    border-radius: 50% 50% 5% 50%; 
}

.image-container img {
    border-radius: 50% 50% 5% 50%; 
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btns-container {
    display: flex;
}
.btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 14px;
    border-radius: 8px;
    background-color: #006297;
    transition: box-shadow 200ms ease-in;
}

.btn-cases {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
    padding: 14px;
}

.btn-cases:hover {
    gap: 18px;
}

.left-rounded-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: white;
    width: 30rem;
    height: 30rem;
    background: #0369a1;
    border-radius: 50%;
}

h2 {
    font-size: 24pt;
}

.left-rounded-container h2,
.rounded-content {
    width: 80%;
}

.check-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 24px;
}

.check-container-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.right-second-container {
    position: relative;
}

.right-second-container svg {
    position: absolute;
    inset: 0;
    bottom: 150px;
    z-index: 1;
}

.thumbnail {
    position: absolute;
    background-image: url(../assets/images/mulher-utilizando-computador.jpg);
    width: 50rem;
    height: 15rem;
    background-size: cover; 
    border-radius: 30px;
    top: -100px;
}

.sectionzada {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
    width: 100%;
    height: 30rem;
    position: relative;
    background: #006297;
}

.sectionzada .container {
    top: 120px;
}

select {
    padding: 5px 10px;
    width: 19rem;
    height: 3rem;
    border-radius: 8px;
    font-size: 14pt;
}

.select-info-green {
    background: #bbf7d0;
    color: #14532d;
    border-radius: 0.6rem;
    padding: 0.4rem;
}

.select-info-green::before {
    content: '';
    display: inline-flex;
    margin-right: 0.8rem;
    border-radius: 50%;
    padding: 1px;
    width: 0.6rem;
    height: 0.6rem;
    background: #14532d;
}

.select-info-red {
    background: #fecaca;
    color: #7f1d1d;
    border-radius: 0.6rem;
    padding: 0.4rem;
}

.select-info-red::before {
    content: '';
    display: inline-flex;
    margin-right: 0.8rem;
    border-radius: 50%;
    padding: 1px;
    width: 0.6rem;
    height: 0.6rem;
    background: #7f1d1d;
}



.sectionzada .container {
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.sectionzada .container h2 {
    width: 65%;
    color: white;
    text-align: center;
}

.plans-section .container {
    display: flex;
    flex-direction: column;
    gap: 2.6rem;
}

.title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacts-section {
    width: 100vw;
    background: #006297;
    color: white;
}


.faq-section .container {
    display: flex;
/*     justify-content: center;
    align-items: center; */
    flex-direction: column;
}

details{
    cursor: pointer;
    padding: 20px;
    display: flex;
    gap: 1.2rem;
    width: 50rem;
    /* background: #e4e4e7; */
    /* border-radius: 1rem; */
    border-bottom: 2px solid gray;
}

details p {
    margin-top: 1.2rem;
    color: #374151;
}

summary {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

summary svg {
    width: 1.4rem;
    transition: 400ms transform ease-in-out;
}

details[open] summary svg{
    transform: rotate(-180deg);
}

details[open] summary h4{
    color: #006297;
}